.politicagral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    font-size: 1.5rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #88D317;
    padding: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8rem;
}

.privatelogo{
    width: 5rem;
    height: 5rem;
}

.textopoliticas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 8rem;
    color: white;
    -moz-box-shadow: 0 0 6px #88D317;
    -webkit-box-shadow: 0 0 6px #88D317;
    box-shadow: 0 0 30px #88D317;

}

p {
    margin: 1rem;
    padding: 1rem;
}

.colores {
    -moz-box-shadow: 0 0 6px #88D317;
    -webkit-box-shadow: 0 0 6px #88D317;
    box-shadow: 0 0 30px #88D317;
}